<div  th:fragment="listAndTasksEditForm (list)" >
    <div class = "card border-0 min-vw-50 p-0 m-0 border-rounded-15">
        <div class = "card-body m-0 min-vw-50 pb-5 p-0">

            <div class=" bg-header text-dark text-center  p-2 m-0 mb-3 border-rounded-15" >
                <div class="row">
                    <div class="col">
                        <h4 class="m-0" > List </h4>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/listEditForm.html :: listForm(${list})" class="taskRow"></div>

        </div>
    </div>
    <div class = "card border-0 min-vw-50 mt-5 p-0 mx-0 border-rounded-15"  >
        <div class = "card-body m-0 min-vw-50 p-0">
            <div class=" bg-header text-dark text-center p-2 m-0 mb-3 border-rounded-15" >
                <div class="row">
                    <div class="col">
                        <h4 class="m-0" > Tasks </h4>
                    </div>
                </div>
            </div>
            <div id="tasksList" class="p-0 m-0" >
                <div class="row p-0 m-0 justify-content-center" th:each="task, taskStat : *{tasks}"   >
                    <div  th:replace="fragments/tasksListForm.html :: taskTextView(${task})"></div>
                    <div  th:include="fragments/tasksListForm.html :: taskEditForm( ${task}, ${list}, ${taskStat.index})"  class="p-0 m-0"></div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn" onclick="addRowFromSelect()" ><i class="bi bi-plus-circle-fill icon-blue icon-large" ></i></button>
            </div>
        </div>
    </div>
    <br>
    <input type = "submit" value="Save" class="btn btn-primary col-3 col-md-2 mx-3">

</div>